@font-face {
  font-family: "brightglamore";
  src: url(../static/fonts/brightglamore-italic.otf);
}

html,
body,
div,
h1 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  button {
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 18px;
    border: none;
    background: #F1F1F1;
    cursor: pointer;
    font-weight: 300;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all 0.2s ease-in-out;
  }
}
