@charset "UTF-8";
@font-face {
  font-family: "brightglamore";
  src: url(../static/fonts/brightglamore-italic.otf);
}
html,
body,
div,
h1 {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.ancres {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ancres a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin-left: 20px;
}

button {
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 18px;
  border: 1px solid rgb(137, 137, 137);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 300;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.2s ease-in-out;
}
button:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border: 1px solid #989898;
  border-radius: 18px;
}
.search-bar input {
  margin: 0 auto;
  min-width: auto;
  width: 300px;
  border: none;
  text-align: start;
}
.search-bar input:focus {
  outline: none;
}
.search-bar button {
  padding: 5px 20px;
  margin-right: 15px;
}

.posts-list {
  width: 70%;
  list-style: none;
  margin-top: 0;
}
.posts-list .post-item {
  border: 1px solid rgba(175, 175, 175, 0.2980392157);
  border-radius: 20px;
  margin: 50px 0 auto 0px;
  min-width: 300px;
  padding: 10px;
}
.posts-list .post-item .meta {
  color: grey;
  display: flex;
  align-items: center;
}
.posts-list .post-item .meta .author-link {
  color: gray;
  margin-left: 5px;
}
.posts-list .post-item .meta .profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
}
.posts-list .post-item .post-actions {
  display: flex;
  justify-content: space-between;
}
.posts-list .post-item .post-actions .post-reactions {
  display: flex;
  align-items: center;
}
.posts-list .post-item .post-actions .post-reactions button {
  border: none;
}
.posts-list .post-item .post-actions .post-reactions button:hover {
  background: rgb(255, 255, 255);
  color: black;
}
.posts-list .post-item .post-actions button {
  margin-left: 0;
}

footer {
  background-color: rgb(238, 238, 238);
  font-family: "brightglamore";
  margin-top: 50px;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
footer .footer-content .footer-logo a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  letter-spacing: 7px;
}
footer .footer-content .footer-logo p {
  margin: 20px 0;
  color: grey;
}
footer .footer-content .footer-links {
  display: flex;
  gap: 100px;
}
footer .footer-content .footer-links a {
  display: flex;
  text-decoration: none;
  color: grey;
  margin-top: 10px;
}

.toolbar {
  display: flex;
  gap: 10px;
  width: 400px;
  margin: 10px auto 0 10px;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #989898;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 10;
}

.toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  color: #333;
}

.toolbar button:hover {
  background-color: #f2f2f2;
}

.toolbar button.active {
  background-color: #e0e7ff;
  color: #1d4ed8;
}

.creation-article-content {
  width: 70%;
  border: 1px solid #989898;
  border-radius: 20px;
  min-height: 300px;
  margin-bottom: 30px;
}
.creation-article-content .tiptap {
  width: 100%;
  height: 100%;
  min-height: 250px;
  outline: none;
  padding: 20px 40px;
}

.comment-form {
  align-items: baseline;
}
.comment-form textarea {
  width: 500px;
  height: 150px;
  resize: none;
  border-radius: 10px;
  border: 1px solid grey;
  padding: 15px;
}
.comment-form button {
  margin-left: 0;
  margin-top: 20px;
}

.comment-list li {
  list-style: none;
  border: 1px solid rgb(209, 209, 209);
  width: 70%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 0 10px;
  padding-right: 30px;
}
.comment-list li .comment-content {
  margin-left: 30px;
}

.login {
  height: 100vh;
  overflow: hidden;
}

.logo {
  letter-spacing: 5px;
}

.login .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  height: 70vh;
  width: 50%;
  margin: auto;
  flex-direction: column;
  margin-top: 100px;
  border-radius: 20px;
}
.login .login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  background-color: #dcdcdc;
}
.login .login-container form input {
  width: 20rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 20px;
}
.login .login-container form button {
  width: 10rem;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 20px;
  background-color: #f0f0f0;
  margin-top: 1rem;
  cursor: pointer;
}
.login .login-container form .google {
  margin-top: 20px;
}

.header {
  position: relative;
  width: 95%;
  height: 75vh;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  margin-top: 100px;
}

.header-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header-content {
  position: relative;
  z-index: 2;
  margin: 70px 70px 0 70px;
}
.header-content h1 {
  font-size: 7rem;
  letter-spacing: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(255, 255, 255);
  background-color: rgba(227, 227, 227, 0.75);
}
.header-content h2 {
  font-size: 6rem;
  font-weight: 300;
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(227, 227, 227, 0.75);
}
.header-content p {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  background-color: rgba(227, 227, 227, 0.75);
}
.header-content button {
  margin-top: 60px;
  padding: 10px 30px;
  border-radius: 18px;
  border: 1px solid rgb(137, 137, 137);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body h3 {
  width: 70%;
  text-align: center;
  margin: 100px auto;
  font-size: 1.5rem;
}
.body .explain-cards {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.body .explain-cards .explain-card {
  width: 20%;
  text-align: center;
}
.body h2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 50px 0;
}
.body .category-cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.body .category-cards .category-card {
  border-radius: 30px;
  border: 0.5px solid rgb(137, 137, 137);
  margin-bottom: 200px;
}
.body .category-cards .category-card .category-image {
  border-radius: 20px;
}
.body .category-cards .category-card h4 {
  margin: 20px 7px;
}
.body .category-cards .category-card .card-footer {
  margin: 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body .category-cards .category-card .card-footer .arrow-icon {
  cursor: pointer;
}

@font-face {
  font-family: "brightglamore";
  src: url(../../static/fonts/brightglamore-italic.otf);
}
.categories {
  height: 100vh;
  overflow: hidden;
}

.categories-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 600px;
  width: 100%;
  margin-top: 100px;
}

.categorie-card {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

/* L'effet de flou qui est appliqué à l'image au survol */
.categorie-card:hover .categorie-card-image {
  filter: blur(5px);
}

.categorie-card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

/* Le flou progressif autour des bords de la carte avec un dégradé */
.categorie-card::after {
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 50%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Applique un flou sur le fond */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Rendre le flou visible au survol */
.categorie-card:hover::after {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s;
}

.categorie-text {
  font-family: "brightglamore", sans-serif;
  max-width: 80%;
  position: absolute;
  color: rgb(247, 235, 145);
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  z-index: 1;
  text-align: center;
  visibility: hidden;
}

.categorie-card:hover .categorie-text {
  opacity: 1;
  visibility: visible;
}

.header-categorie {
  position: relative;
  width: 95%;
  height: 30vh;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  margin-top: 100px;
  display: flex;
}
.header-categorie h1 {
  font-family: "brightglamore";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 4rem;
  letter-spacing: 0.7rem;
  max-width: èàù;
  color: rgb(247, 235, 145);
  text-align: center;
  z-index: 1;
}

.header-categorie-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-categorie {
  display: flex;
}
.body-categorie .filtres {
  position: sticky;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  border: 1px solid rgba(175, 175, 175, 0.2980392157);
  border-radius: 20px;
  margin: 50px 0 auto 50px;
  padding: 30px 20px;
}
.body-categorie .filtres button {
  width: 200px;
  margin-bottom: 20px;
  margin-left: 0;
}
.body-categorie .filtres button:focus {
  background: black;
  color: rgb(255, 255, 255);
}
.body-categorie .filtres li {
  list-style: none;
}

.posts-list .post-item p {
  margin: 0;
}

@font-face {
  font-family: "brightglamore";
  src: url(../../static/fonts/brightglamore-italic.otf);
}
.header-creation-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
}
.header-creation-article h1 {
  font-family: "brightglamore", sans-serif;
  letter-spacing: 5px;
  font-size: 4rem;
}
.header-creation-article p {
  text-align: center;
  letter-spacing: 1px;
}

body input {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #989898;
  border-radius: 20px;
  padding: 10px 20px;
  min-width: 400px;
  max-width: 600px;
  font-size: 1rem;
}
body select {
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 1px solid #989898;
  border-radius: 20px;
  cursor: pointer;
}

.create-article-categories-cards {
  margin-top: 20px;
}

.create-article-categories-card {
  width: 550px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.create-article-categories-card .create-article-img {
  border-radius: 25px;
  width: 550px;
  height: 70px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}
.create-article-categories-card h4 {
  position: relative;
  margin: 0 auto;
  color: whitesmoke;
  font-size: 2rem;
  letter-spacing: 3px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin: 0 auto;
}
form .submit {
  margin-bottom: 30px;
}

@font-face {
  font-family: "brightglamore";
  src: url(../../static/fonts/brightglamore-italic.otf);
}
.profile-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center;
}
.profile-picture-container h3 {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  margin-top: 2rem;
  text-transform: uppercase;
}
.profile-picture-container .profile-picture-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #666;
}
.profile-picture-container .profile-picture-wrapper .profile-picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-picture-container .profile-picture-upload .upload-button {
  background-color: #ffffff;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.1s ease-in-out;
}
.profile-picture-container .profile-picture-upload .upload-button:hover {
  background-color: black;
  color: white;
}
.profile-picture-container .profile-picture-upload .hidden {
  display: none;
}

.profile-info {
  background-color: #eeeeee;
  padding: 30px 60px;
  border-radius: 20px;
  max-width: 40%;
  min-width: 30%;
}
.profile-info h2 {
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.profile-info span {
  font-weight: 100;
  font-size: 1rem;
}
.profile-info .edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.profile-info .edit-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}
.profile-info .edit-form .form-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}
.profile-info .edit-form .form-group input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
}
.profile-info .edit-form .form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 10px;
}
.profile-info .edit-form .submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.profile-info .edit-form .submit-button:hover {
  background-color: #0056b3;
}

.user-posts h2 {
  font-family: "brightglamore", sans-serif;
  display: flex;
  justify-content: center;
  letter-spacing: 3px;
  font-size: 3rem;
  margin-top: 4rem;
}
.user-posts .posts-list {
  margin: 0 auto;
}
.user-posts .posts-list .post-item {
  margin-left: 0;
  margin: 50px 0;
}

.article {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.article h1 {
  display: flex;
  justify-content: center;
}
.article h2,
.article h3 {
  margin-left: 20px;
}
.article .author {
  display: flex;
  align-items: center;
  color: gray;
}
.article .author .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article .author .author-link {
  color: gray;
  margin-right: 10px;
}
.article .reaction-buttons button {
  margin-left: 0;
}

.rgpd {
  background-color: rgb(54, 54, 54);
  color: rgb(216, 216, 216);
}

.rgpd-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.search-page {
  margin-top: 100px;
}/*# sourceMappingURL=index.css.map */