@font-face {
  font-family: 'Agrandir-GrandHeavy';
  src: url('../../static/fonts/Agrandir-GrandHeavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.header-categorie {
  position: relative;
  width: 95%;
  height: 30vh;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  margin-top: 100px;
  display: flex;

  h1 {
    font-family: "Agrandir-GrandHeavy", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    color: #FFFDD0;
    text-align: center;
    z-index: 1;
  }
}

.header-categorie-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.body-categorie {
  display: flex;

  .filtres {
    position: sticky;
    top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    border: 1px solid #afafaf4c;
    border-radius: 20px;
    margin: 50px 0 auto 50px;
    padding: 30px 20px;

    button {
      width: 200px;
      margin-bottom: 20px;
      margin-left: 0;
      background: #E2BB8F;
      color: #ffffff;
    }
    button:focus {
      background: transparent;
      color: #E2BB8F;
      border: 1px solid #E2BB8F;
    }

    li {
      list-style: none;
    }
  }
}

.posts-list {
  .post-item p {
    margin: 0;
  }
}

.view-article-button {
  background: #E2BB8F;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}
