@font-face {
  font-family: "brightglamore";
  src: url(../../static/fonts/brightglamore-italic.otf);
}

.header-creation-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;

  h1 {
    font-family: "Agrandir-GrandHeavy", sans-serif;
    font-size: 3.5rem;
    text-align: center;
  }

  p {
    text-align: center;
    letter-spacing: 1px;
  }
}

body {
  input {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #e2bb8f;
    border-radius: 20px;
    padding: 10px 20px;
    min-width: 400px;
    max-width: 600px;
    font-size: 1rem;

    @media screen and (max-width: 800px) {
      min-width: 0;
      width: 60%;
    }
  }

  select {
    margin-bottom: 30px;
    padding: 10px 20px;
    border: 1px solid #e2bb8f;
    border-radius: 20px;
    cursor: pointer;
  }
}

.create-article-categories-cards {
  margin-top: 20px;
}

.create-article-categories-card {
  width: 550px;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .create-article-img {
    border-radius: 25px;
    width: 550px;
    height: 70px;
    position: absolute;
    object-fit: cover;
  }

  h4 {
    position: relative;
    margin: 0 auto;
    color: whitesmoke;
    font-size: 2rem;
    letter-spacing: 3px;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  margin: 0 auto;

  .submit {
    margin-bottom: 30px;
    background: #e2bb8f;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
  }
}
