.login {
  height: 100vh;
  overflow: hidden;
}
.logo {
  letter-spacing: 5px;
}

.login .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcdcdc;
  height: 70vh;
  width: 50%;
  margin: auto;
  flex-direction: column;
  margin-top: 100px;
  border-radius: 20px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    background-color: #dcdcdc;

    input {
      width: 20rem;
      height: 2rem;
      margin: 0.5rem;
      padding: 0.5rem 1.5rem;
      border: 1px solid rgb(183, 183, 183);
      border-radius: 20px;
    }

    button {
      width: 10rem;
      height: 2rem;
      margin: 0.5rem;
      padding: 0.5rem;
      border: 1px solid rgb(183, 183, 183);
      border-radius: 20px;
      background-color: #f0f0f0;
      margin-top: 1rem;
      cursor: pointer;
    }

    .google {
      margin-top: 20px;
    }
  }
}


.error-messages {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  
  .global-error {
    color: #ff3860;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .field-error {
    color: #ff3860;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
}
