@font-face {
  font-family: "brightglamore";
  src: url(../../static/fonts/brightglamore-italic.otf);
}

.profile-container {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  align-items: flex-start;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  @media screen and (max-width: 800px) {
    width: 55%;
  }

  h3 {
    letter-spacing: 3px;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .profile-picture-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #666;

    .profile-picture {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .profile-picture-upload {
    .upload-button {
      background-color: #ffffff;
      border: 1px solid #e2bb8f;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #e2bb8f;
        color: white;
      }
    }

    .hidden {
      display: none;
    }
  }
}

.profile-info {
  background-color: rgba(240, 240, 240, 0.5);
  border: 1px solid #e7e7e7;
  padding: 30px 60px;
  border-radius: 20px;
  width: 45%;
  @media screen and (max-width: 1200px) {
    width: 45%;
  }
  @media screen and (max-width: 800px) {
    width: 60%;
  }

  button {
    background: #e2bb8f;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
  }

  h2 {
    font-family: "brightglamore", sans-serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: center;
  }

  span {
    font-weight: 100;
    font-size: 1rem;
  }

  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      width: 100%;

      label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        text-align: center;
      }

      input,
      textarea {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        margin-top: 10px;
      }
    }

    .submit-button {
      background-color: #0084ff;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.user-content-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto 0;
  gap: 2rem;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.user-posts,
.user-comments {
  flex: 1;

  h2 {
    font-family: "brightglamore", sans-serif;
    letter-spacing: 3px;
    font-size: 3rem;
    margin-top: 4rem;
    text-align: center;
  }

  .posts-list,
  .comments-list {
    margin: 0 auto;

    .post-item {
      margin: 50px 0;
      background-color: rgba(240, 240, 240, 0.5);

      p {
        margin: 10px 0;
      }
    }
  }
}
