@font-face {
  font-family: "brightglamore";
  src: url(../../static/fonts/brightglamore-italic.otf);
}

.categories-cards {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 600px;
  width: 100%;
}

.categorie-card {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

/* L'effet de flou qui est appliqué à l'image au survol */
.categorie-card:hover .categorie-card-image {
  filter: blur(5px);
}

.categorie-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

/* Le flou progressif autour des bords de la carte avec un dégradé */
.categorie-card::after {
  position: absolute;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  backdrop-filter: blur(10px); /* Applique un flou sur le fond */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Rendre le flou visible au survol */
.categorie-card:hover::after {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s;
}

.categorie-text {
  font-family: "brightglamore", sans-serif;
  max-width: 80%;
  position: absolute;
  color: rgb(247, 235, 145);
  font-size: 3rem;
  font-weight: 100;
  // text-transform: uppercase;
  letter-spacing: 0.1rem;
  z-index: 1;
  text-align: center;
  visibility: hidden;
  // transition: opacity 0.3s ease, visibility 0s 0.3s;
}

.categorie-card:hover .categorie-text {
  opacity: 1;
  visibility: visible;
  // transition: opacity 0.3s ease, visibility 0s;
}
