@font-face {
  font-family: 'Agrandir-GrandHeavy';
  src: url('../../static/fonts/Agrandir-GrandHeavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

footer {
  background-color: rgb(238, 238, 238);
  font-family: "brightglamore";
  margin-top: 50px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;

  @media screen and (max-width: 724px) {
    display: flex;
    align-content: center;
    text-align: center;
    flex-direction: column;
  }

  .footer-logo {
    a {
      font-family: 'Agrandir-GrandHeavy', sans-serif;
      text-decoration: none;
      color: black;
      font-size: 2rem;
    }

    p {
      margin: 20px 0;
      color: grey;
    }
  }

  .footer-links {
    display: flex;
    gap: 100px;

    @media screen and (max-width: 724px) {
      display: flex;
      justify-content: center;
    }

    a {
      display: flex;
      text-decoration: none;
      color: grey;
      margin-top: 10px;
    }
  }
}
