@font-face {
  font-family: 'Agrandir-GrandHeavy';
  src: url('../../static/fonts/Agrandir-GrandHeavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}

.logo a {
  
  font-family: 'Agrandir-GrandHeavy', sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}

.ancres {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-left: 20px;
  }
}

.ancres button {
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 18px;
  border: none;
  background: #E2BB8F;
  color: #ffffff;
  cursor: pointer;
  font-weight: 300;
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 0.2s ease-in-out;
}

.search-bar {
  background: rgba(228, 228, 228, 0.5);
  display: flex;
  flex-direction: row;
  border-radius: 18px;

  input {
    background-color: transparent;
    margin: 0 auto;
    min-width: auto;
    width: 300px;
    border: none;
    text-align: start;

    &:focus {
      outline: none;
    }
  }

  button {
    margin: 0 10px;
    background: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.suggestions-list {
  position: absolute;
  background: white;
  border-radius: 18px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestions-list li {
  padding: 10px 15px;
  margin-left: 10px;
}
